iPORT=3000

SPORTRADAR_SOCCER_API_KEY=
SPORTRADAR_SOCCER_ACCESS_LEVEL=trial
SPORTRADAR_SOCCER_LANGUAGE_CODE=en
SPORTRADAR_SOCCER_FORMAT=json

SPORTRADAR_NBA_API_KEY=
SPORTRADAR_NBA_BASE_URL=https://api.sportradar.com/nba/trial/v7/en

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.2-mini
